<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="stylesheet" href="/css/application.css">
    <link rel="stylesheet" href="/css/logout.css">

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

    <script src="../jquery-3.1.1.min.js"></script>
    <script src='/js/application.js'></script>

    <title>checkpoint skeleton</title>
  </head>

  <body>
    <% if !current_user  %>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/sessions">login</a></li>
        <li><a href="/users">register</a></li>
      </ul>
    </nav>

    <% else  %>
    <nav>
      <ul>
        <li><a href="/">home</a></li>

        <li>

          <form action="/sessions/logout" method="post">
              <input type="hidden" name="_method" value="delete">
              <input type="submit" value="logout">
          </form>
          
          <!-- <a href="/sessions/logout">logout</a> -->


        </li>
    </ul>
  </nav>



    <% end %>

    <%= yield %>

  </body>
</html>
