<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel="stylesheet" href="/css/application.css">
    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script> -->

    <script src="../jquery-3.1.1.min.js"></script>
    <script src='/js/application.js'></script>

    <title>Intro To Sinatra</title>
  </head>

  <body>
    <% if !current_user  %>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/sessions">login</a></li>
        <li><a href="/users">register</a></li>
      </ul>
    </nav>

    <% else  %>
    <nav>
      <ul>
        <li><a href="/">home</a></li>
        <li><a href="/sessions/logout">logout</a></li>
    </ul>
  </nav>
    <% end %>

    <%= yield %>

  </body>
</html>
